.body{
    margin: 0;
    padding: 0;
    position: relative;
    background: linear-gradient(#01153b, #010933);

}

.fullScreenPhoto {
    width: 100%;
    margin: 0;
    height: 500px;
}

.container {
    position: fill;
    margin: 0;
    top: 0px;
    left: 0px;
    bottom: 0px;
    padding: 0 0;
    margin: 0 0 0 0;
  }
  
  .header {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  
  .backToHome {
    margin: 3rem 0 0;
  }

  .video {
      position: relative;
    margin:0 0;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100%;
    z-index: -100;
    background-size: cover;
    transition: 1s opacity;
}