html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
  color: aliceblue;
  width: auto;
  background-color: linear-gradient(#01153b, #010933);
  background-repeat: no-repeat;
display:fill;
align-items: center;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color:aliceblue;
}

a:hover {
    color:deepskyblue;
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}